@font-face {
  font-family: 'ptSans';
  src:  url('assets/fonts/ptsans.woff2') format('woff2'),
        url('assets/fonts/ptsans.woff') format('woff');
}

@font-face {
  font-family: 'ptSans';
  src:  url('assets/fonts/ptsansbold.woff2') format('woff2'),
        url('assets/fonts/ptsansbold.woff') format('woff');
  font-weight: bold;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'ptSans', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 768px;
  /*
  min-width: 768px;
  max-width: 1200px;
  */
  padding: 0 10px;
  margin: 0 auto;
}

.main-header {
  position: relative;
}

.main-header .main-navigation {
}

.main-header .main-navigation ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header .main-navigation ul li {
  width: 20%;
}

.main-header .main-navigation ul li:nth-child(1) {
  float: left;
  margin-left: 6%;
  text-align: left;
}
.main-header .main-navigation ul li:nth-child(2) {
  float: left;
  text-align: left;
}
.main-header .main-navigation ul li:nth-child(3) {
  float: left;
  margin-left: 8%;
  text-align: right;
}
.main-header .main-navigation ul li:nth-child(4) {
  float: right;
  margin-right: 6%;
  text-align: right;
}

.main-header .main-navigation ul li a {
  display: block;
  padding: 18px 0;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.main-header .header-logo {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;
  text-align: center;
}

main {
}

main .promo-intro {
  min-height: 724px;
  /* абзац выпадает */
  border-bottom: 1px solid transparent;
}

main .promo-intro .promo-img {
  height: 512px;
  margin-bottom: 60px;
  background: url("assets/images/promo-text.png") center top no-repeat,
    url("assets/images/promo-bottom-mask.png") center top no-repeat,
    url("assets/images/promo-mountains.png") center top no-repeat;
  background-size: auto 512px, 100% 512px, cover;
}

main .promo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

main .promo-list .promo-item {
  float:left;
  width: calc(100%/3);
}

main .promo-list .promo-item {
  /* абзац и заголовок выпадают */
  /*
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  */
}

main .promo-list .promo-item.promo-main-feature,
main .promo-list .promo-item.promo-feature {
  min-height: 256px;
}

main .promo-list .promo-item.promo-recomendation {
  min-height: 330px;
}

main .promo-list .promo-item.promo-main-feature {
  width: calc(100%/3);
  padding-right: calc(100%*2/3);
  padding-left: 0;
  background-color: red;
  background: url("assets/images/small-city-sedona.png") no-repeat;
  background-size: calc(100%*2/3) auto;
  background-position: right top;
}

main .promo-list .promo-item.promo-main-feature ~ .promo-item.promo-main-feature {
  width: calc(100%/3);
  padding-right: 0;
  padding-left: calc(100%*2/3);
  background: url("assets/images/devil-bridge.png") no-repeat;
  background-size: calc(100%*2/3) auto;
  background-position: left top;
}

main .search-container {
}

main .search-container .search-preambul{
  min-height: 290px;
}

main .search-container .search-map {
  min-height: 595px;
  background-color: #fff;
  background-image: url("assets/images/search-map.png");
  background-size: 100% auto;
}

main .search-container .search-form {
  width: 568px;
  min-height: 395px;
  margin: 0 auto;
  background-color: #fff;
}

.main-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-footer .footer-tags,
.main-footer .footer-socials,
.main-footer .footer-copyright {
  float: left;
  width: calc(100%/3);
  min-height: 120px;
  background-color: rgba(255, 255, 255, 0.9);
}

/* границы для сеток */
/*
.container {
  border: 1px solid red;
}

.promo-intro,
.promo-list,
.search-container {
  border: 1px solid gold;
}

.promo-list li,
.search-preambul,
.search-form,
.main-footer .container > div {
  border: 1px solid green;
  margin-left: -2px;
}
*/
