body {
  min-width: 320px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  color: #000;
}

.main-header,
.download,
.capabilities .capabilities-list li,
.research,
.comments,
.offers .offers-table-wrapper,
.communications .communications-list,
.main-footer {
  padding: 0 20px;
}

@media (min-width: 700px) {
  .main-header,
  .download,
  .capabilities .capabilities-list li,
  .research,
  .comments,
  .offers .offers-table-wrapper,
  .communications .communications-list,
  .main-footer {
    padding: 0 40px;
  }
}

@media (min-width: 1000px) {
  .main-header,
  .download,
  .capabilities .capabilities-list,
  .research,
  .comments,
  .offers .offers-table-wrapper,
  .communications .communications-list,
  .main-footer {
    padding: 0 130px;
  }
}

.main-header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(0,0,0,0.3);
  color: #fff;
}

.main-header::after {
  content: "";
  display: table;
  clear: both;
}

.main-header .main-nav {
  margin-left: auto;
}

.main-header .main-nav ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  list-style: none;
  text-align: center;
}

.main-header .main-nav ul li a {
  display: block;
  padding: 20px 0;
  background-color: #283645;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000;
}

.main-header .main-nav ul li a:hover {
  color: #d22856;
}

.main-header .main-nav ul li a:active {
  color: #6f3650;
}

.main-header .main-logo {
  width: 75px;
  height: 22px;
  background: url("../images/logo-mobile.png") no-repeat center;
}

@media (max-width: 999px) {

  .main-header .main-nav.main-nav--closed ul {
    display: none;
  }

  .main-header .main-nav .nav-control-toggle {
    position: relative;
    width: 50px;
    height: 24px;
    cursor: pointer;
  }

  .main-header .main-nav.main-nav--closed .nav-control-toggle::after {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: 4px;
    background-color: #fff;
    box-shadow: 0 10px 0 0 #fff, 0 -10px 0 0 #fff;
  }

  .main-header .main-nav.main-nav--opened .nav-control-toggle {
    width: 24px;
    height: 24px;
  }

  .main-header .main-nav.main-nav--opened .nav-control-toggle::after,
  .main-header .main-nav.main-nav--opened .nav-control-toggle::before {
    content: "";
    position: absolute;
    left: -3px;
    top: 10px;
    width: 30px;
    height: 4px;
    background-color: #fff;
  }

  .main-header .main-nav.main-nav--opened .nav-control-toggle::before {
    transform: rotate(-45deg);
  }

  .main-header .main-nav.main-nav--opened .nav-control-toggle::after {
    transform: rotate(45deg);
  }

  .main-header .main-nav .nav-control-toggle:hover::before,
  .main-header .main-nav .nav-control-toggle:hover::after {
    background-color: #d22856;
  }

  .main-header .main-nav .nav-control-toggle:active::before,
  .main-header .main-nav .nav-control-toggle:active::after {
    background-color: #6f3650;
  }

  .main-header .main-nav.main-nav--closed .nav-control-toggle:hover::after {
    box-shadow: 0 10px 0 0 #d22856, 0 -10px 0 0 #d22856;
  }

  .main-header .main-nav.main-nav--closed .nav-control-toggle:active::after {
    box-shadow: 0 10px 0 0 #6f3650, 0 -10px 0 0 #6f3650;
  }

}

@media (min-width: 700px) {

  .main-header {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .main-header .main-logo {
    width: 150px;
    height: 40px;
    background-image: url("../images/logo-tab.png");
  }

}

@media (min-width: 1000px) {

  .main-header .main-logo {
    background-image: url("../images/logo-desktop.png");
    min-width: 150px;
  }

  .main-header .main-nav ul {
    flex-direction: row;
    position: static;
  }

  .main-header .main-nav ul {
    position: relative;
    flex-direction: row;
  }

  .main-header .main-nav ul li a {
    margin: 0;
    padding: 10px 35px;
    margin: 15px 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    text-transform: none;
    background: none;
    border: none;
  }

  .main-header .main-nav ul li.active a {
    position: relative;
  }

  .main-header .main-nav ul li.active a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 35px;
    height: 2px;
    box-sizing: border-box;
    background-color: #fff;
    background-clip: content-box;
  }

  .main-header .main-nav ul li a:hover::after {
    background-color: #d22856;
  }

  .main-header .main-nav ul li a:active {
    color: #fff;
    opacity: 0.3;
  }

  .main-header .main-nav ul li a:active::after {
    background-color: #fff;
    opacity: 0.3;
  }

}

.download {
  padding-top: 485px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #1d2631;
  color: #fff;
}

.download::after {
  content: "";
  height: 460px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: url("../images/hand-mobile.png") no-repeat bottom, url("../images/back-mobile.jpg") no-repeat center;
  background-color: #1d2631;
  background-size: auto, cover;
}

.download h2 {
  display: none;
}

.download .download-btn {
  display: block;
  padding: 15px 0;
  margin-bottom: 30px;
  border: 3px solid #fff;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

.download-btn:hover {
  background-color: #fff;
  color: #d22856;
}

.download-btn:active {
  background-color: #fff;
  color: #f2ced5;
}

.download .platforms-list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.download .platforms-list .icon {
  display: inline-block;
  width: 55px;
  height: 55px;
  margin: 0 10px;
  background: url("../images/platforms-sprite.png") no-repeat center;
}

.download .platforms-list .icon-ios {
  background-position: 0 0;
}

.download .platforms-list .icon-android {
  background-position: -80px 0;
}

.download .platforms-list .icon-windows {
  background-position: -160px 0;
}

.download p {
  padding: 0 20px;
}

@media (min-width: 700px) {
  .download {
    padding-top: 200px;
    padding-bottom: 110px;
    padding-right: 50%;
    background: url("../images/hand-tab.png") no-repeat bottom, url("../images/back-tab.jpg") no-repeat top;
    background-color: #1d2631;
    background-size: auto, cover;
  }

  .download h2 {
    display: block;
    font-size: 40px;
    font-weight: lighter;
  }

  .download .download-btn {
    margin-bottom: 40px;
  }

  .download .platforms-list {
    margin-bottom: 40px;
  }

  .download::after {
    display: none;
  }

}

@media (min-width: 1000px) {
  .download {
    padding-top: 220px;
    padding-bottom: 120px;
    background: url("../images/hand-desktop.png") no-repeat bottom, url("../images/back-desktop.jpg") no-repeat top;
    background-color: #1d2631;
    background-size: auto, cover;
  }

  .download h2 {
    font-size: 50px;
    line-height: normal;
  }
}

.capabilities {
  padding-top: 40px;
  text-align: center;
}

.capabilities h2 {
  margin: 0;
  margin-bottom: 35px;
  padding: 0 20px;
  font-weight: lighter;
  font-size: 24px;
}

.capabilities .capabilities-list {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 65px;
  padding: 0;
  padding-top: 50px;
  list-style: none;
  background-color: #f2f2f2;
  color: #000;
}

.capabilities .capabilities-list::before {
  content: '';
  display: block;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: skewY(-4deg);
  transform-origin: 0;
  z-index: -1;
  background-color: #f2f2f2;
}

.capabilities .capabilities-list li:not(:first-child) {
  margin-top: 30px;
}

.capabilities .capabilities-list b {
  display: block;
  font-size: 18px;
  margin-bottom: 15px;
}

.capabilities .capabilities-list p {
  color: #283645;
  font-size: 14px;
  line-height: 24px;
}

.capabilities .capabilities-list li:last-child {
  display: flex;
  flex-direction: column;
}

.capabilities .capabilities-list li:last-child .capability-picture {
  height: 280px;
  margin-top: 45px;
  background: url("../images/iphone-mobile.png") no-repeat center;
  order: 1;
}

@media (min-width: 700px) {

  .capabilities {
  }

  .capabilities h2 {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 40px;
    margin: 0;
  }

  .capabilities h2:last-of-type {
    padding-bottom: 35px;
  }

  .capabilities .capabilities-list {
    padding-top: 20px;
    padding-bottom: 30px;
    min-height: 370px;
    margin-top: 100px;
    position: relative;
  }

  .capabilities .capabilities-list::before {
    top: -31px;
  }

  .capabilities .capabilities-list li {
    margin-top: -45px;
    text-align: left;
    padding-left: 50%;
  }

  .capabilities .capabilities-list li:last-child .capability-picture {
    width: 50%;
    height: 480px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("../images/iphone-tab.png") no-repeat top;
  }
}

@media (min-width: 1000px) {

  .capabilities .capabilities-list li:last-child .capability-picture {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    position: static;
    background: url("../images/iphones-sprite.png") no-repeat;
    order: -1;
  }

  .capabilities h2 {
    font-size: 50px;
    padding-left: 130px;
    padding-right: 130px;
    line-height: normal;
  }

  .capabilities h2:last-of-type {
    margin-bottom: 60px;
  }

  .capabilities .capabilities-list {
    position: relative;
    flex-direction: row;
    padding-left: 130px;
    padding-right: 130px;
    min-height: none;
    margin-top: 180px;
    z-index: 1;
  }

  .capabilities .capabilities-list::before {
    content: '';
    display: block;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: skewY(-4deg);
    transform-origin: 0;
    z-index: -1;
    background-color: #f2f2f2;
  }

  .capabilities .capabilities-list li {
    flex-basis: 100px;
    flex-grow: 1;
    padding: 0;
    margin: 0;
  }

  .capabilities .capabilities-list .capability-picture {
    position: relative;
    display: block;
    width: 190px !important;
    height: 300px !important;
    margin-top: -110px !important;
    margin-bottom: 55px !important;
    z-index: 1;
  }

  .capabilities .capabilities-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0 !important;
    padding: 0 30px;
    text-align: center;
  }

  .capabilities .capabilities-list b {
    font-size: 30px;
    line-height: 30px;
  }

  .capabilities .capabilities-list p {
    font-size: 18px;
    line-height: 30px;
  }

  .capabilities .capabilities-list li .capability-picture {
    background: url("../images/iphones-sprite.png") no-repeat;
  }

  .capabilities .capabilities-list li:first-child .capability-picture {
    background-position: 0 0;
  }

  .capabilities .capabilities-list li:nth-child(2) .capability-picture {
    background-position: -320px 0;
  }

  .capabilities .capabilities-list li:last-child .capability-picture {
    background-position: -640px 0;
  }

}

.research {
  display: none;
}

@media (min-width: 700px) {

  .research {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 210px;
    margin-top: 60px;
    margin-bottom: 55px;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 50%;
  }

  .research b {
    font-size: 30px;
  }

  .research p {
    line-height: 24px;
  }

  .research a {
    color: #d22856;
  }

  .research::before {
    content: "";
    width: 240px;
    height: 280px;
    position: absolute;
    left: 40px;
    top: 0;
    background: url("../images/timer.png") no-repeat center;
    background-size: contain;
  }
}

@media (min-width: 1000px) {

  .research {
    margin-top: 0;
    min-height: 280px;
    padding-left: 45%;
    padding-bottom: 95px;
    margin-bottom: 0;
    background-color: #f2f2f2;
    font-size: 18px;
    line-height: 30px;
  }

  .research::before {
    width: 300px;
    height: 350px;
    left: 130px;
  }

  .research b {
    font-size: 30px;
  }

  .research b br {
    display: none;
  }

}

.comments {
  position: relative;
  padding-top: 45px;
  padding-bottom: 40px;
}

.comments .comments-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.comments .comments-list li {
  display: none;
}

.comments .comments-list .current-comment {
  display: block;
}

.comments .comments-list article {
  display: flex;
  flex-direction: column-reverse;
}

.comments .comments-list article .author-name {
  display: block;
  margin-bottom: 25px;
  font-size: 18px
}

.comments .comments-list article p {
  margin: 0;
  line-height: 30px;
}

.comments .comments-list article .author-description {
  display: none;
}

.comments .comments-nav .comments-nav-directions {
  display: none;
}

@media (min-width: 700px) {

  .comments .comments-list article {
    flex-direction: column;
  }

  .comments .comments-list article p  {
    margin-bottom: 45px;
    font-size: 18px;
    line-height: 30px;
  }

  .comments .comments-list article .author-name {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 30px;
  }

  .comments .comments-list article .author-description {
    display: block;
    margin-bottom: 10px;
  }
}

@media (max-width: 999px) {
  .comments .comments-list article p::before,
  .comments .comments-list article p::after {
    content: "\"";
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
  }
}

@media (min-width:700px) and (max-width: 999px) {
  .comments .comments-list article p::before,
  .comments .comments-list article p::after {
    font-size: 18px;
  }
}

@media (min-width: 1000px) {

  .comments .comments-list {
    margin-top: 135px;
    padding: 0 90px;
  }

  .comments .comments-list::before {
    content: "";
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    height: 70px;
    background: url("../images/quotes.png") no-repeat center;
    background-size: contain;
  }

  .comments .comments-list article .author-name {
    font-size: 24px;
    line-height: 30px;
  }

  .comments .comments-list article .author-description {
    font-size: 18px;
  }

  .comments .comments-nav .dot-list {
    display: none;
  }

  .comments .comments-nav .comments-nav-directions {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0 130px;
  }

  .comments-nav-directions .comments-nav-btn {
    position: relative;
    width: 60px;
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 0;
    cursor: pointer;
  }

  .comments-nav-directions .comments-nav-btn::before,
  .comments-nav-directions .comments-nav-btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 31px;
    height: 3px;
    background-color: #bec2c7;
    transform: translateY(-50%);
  }

  .comments-nav-directions .comments-nav-btn::before {
    transform: translateY(-10px) rotate(-45deg);
  }

  .comments-nav-directions .comments-nav-btn::after {
    transform: translateY(10px) rotate(45deg);
  }

  .comments-nav-directions .comments-nav-btn.comments-nav-btn-next::before,
  .comments-nav-directions .comments-nav-btn.comments-nav-btn-next::after {
    left: auto;
    right: 0;
  }

  .comments-nav-directions .comments-nav-btn.comments-nav-btn-next::before {
      transform: translateY(-10px) rotate(45deg);
  }

  .comments-nav-directions .comments-nav-btn.comments-nav-btn-next::after {
      transform: translateY(10px) rotate(-45deg);
  }

}

.dot-list {
  display: flex;
  justify-content: center;
  margin: 6px 0;
  padding: 0;
  list-style: none;
}

.dot-list label {
  margin: 0 10px;
  width: 6px;
  height: 6px;
  background-color: #bec2c7;
  border-radius: 50%;
}

.dot-list label:hover {
  background-color: #7e868f;
}

.dot-list label.active {
  background-color: #e9ebec;
}

.dot-list label.current {
  box-shadow: 0 0 0 2pt #283645;
}

.dot-list label input {
  display: none;
}

.offers {
  position: relative;
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 45px;
  background-color: #f2f2f2;
  color: #000;
}

.offers::before {
  content: '';
  display: block;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: skewY(-4deg);
  transform-origin: 0;
  z-index: -1;
  background-color: #f2f2f2;
}

.offers-table-wrapper {
  overflow: hidden;
}

.offers-table {
  display: table;
  width: calc(100%*3);
  margin-bottom: 30px;
  /* change multiplier to 0, 1, 2 to go through columns */
  transform: translateX(calc(-100%/3 * 1));
  border-collapse: collapse;
  text-align: center;
}

.offers-table ul {
  display: table-row;
  height: 45px;
}

.offers-table li {
  display: table-cell;
  padding: 15px 23px;
  width: 280px;
  border: 2px solid #e5e5e5;
  background-color: #fff;
  color: #000;
  vertical-align: middle;
}

.offers-table header {
  display: table-header-group;
}

.offers-table header li {
  padding: 15px 0;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #283645;
  color: #fff;
}

.offers-table header b {
  margin-bottom: 5px;
}

.offers-table .recommended-offer {
  position: relative;
  overflow: hidden;
}

.offers-table .recommended-offer::after {
  content: "хит";
  font-size: 14px;
  line-height: 18px;
  width: 100px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 7px 0;
  transform: translate(-30px, 5px) rotate(-45deg);
  text-transform: uppercase;
  background-color: #d22856;
  color: #fff;
}

.offers-table ul li:first-of-type {
  display: none;
}

.offers-table .offer-name {
  display: block;
  font-size: 16px;
}

.offers-table .offer-cost {
  font-size: 18px;
  font-weight: lighter;
}

.offers-table .category-name {
  float: left;
  line-height: 31px;
  text-transform: uppercase;
  vertical-align: middle;
}

.offers-table .icon {
  float: right;
  width: 30px;
  height: 30px;
  background: url("../images/yes.png") no-repeat center;
  background-size: contain;
}

.offers-table .icon-no {
  background: url("../images/no.png") no-repeat center;
}

@media (min-width: 700px) {

  .offers .offers-table {
    width: 100%;
    transform: none;
  }

  .offers-table li {
    padding: 10px 20px;
  }

  .offers-table ul li:first-of-type {
    display: table-cell;
  }

  .offers-table ul .empty-cell {
    background-color: transparent;
    border: none;
  }

  .offers-table .category-name {
    display: none;
  }

  .offers-table .icon {
    float: none;
    display: inline-block;
  }

  .offers .offers-nav .dot-list {
    display: none;
  }
}

@media (min-width: 1000px) {
  .offers {
    margin-top: 50px;
    font-size: 18px;
    line-height: 30px;
  }

  .offers .offers-table .offer-cost {
    font-size: 24px;
  }

}


.communications {
  padding-top: 40px;
  text-align: center;
}

.communications h2 {
  margin: 0;
  margin-bottom: 35px;
  padding: 0 20px;
  font-size: 24px;
  font-weight: lighter;
}

.communications .communications-list {
  margin: 0;
  margin-bottom: 40px;
  list-style: none;
}

.communications .communications-list li:not(:last-child) {
  margin-bottom: 25px;
}

.communications .communications-list b {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}

.communications .communications-list p {
  margin: 0;
  font-size: 24px;
  color: #d22856;
}

.communications .communication-map {
  height: 200px;
  background: url("../images/map-mobile-frame.png"), url("../images/map-mobile.jpg") no-repeat center;
  background-size: 100% auto, cover;
}

@media (min-width: 700px) {

  .communications h2 {
    font-size: 40px;
    padding: 0 130px;
  }

  .communications .communications-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .communications .communications-list li {
    margin-top: 20px;
    width: 40%;
  }

  .communications .communication-map {
    height: 380px;
    background: url("../images/map-mobile-frame.png"), url("../images/map-tab.jpg") no-repeat top center;
    background-size: 100% auto, cover;
  }
}

@media (min-width: 1000px) {

  .communications {
    padding-top: 60px;
  }

  .communications h2 {
    font-size: 50px;
    line-height: normal;
  }

  .communications .communications-list {
    margin-bottom: 20px;
  }

  .communications .communications-list b {
    margin-bottom: 20px;
  }

  .communications .communications-list li {
    flex-basis: 30%;
  }

  .communications .communication-map {
    height: 500px;
    background: url("../images/map-mobile-frame.png"), url("../images/map-desktop.jpg") no-repeat top center;
    background-size: 100% auto, cover;
  }

  .communications .communications-list .communication-online {
    order: 2;
  }

}

.main-footer {
  display: none;
}

@media (min-width: 700px) {
  .main-footer {
    display: flex;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #fff;
    color: #000;
  }

  .main-footer .footer-logo,
  .main-footer .footer-socials,
  .main-footer .footer-copyright {
    flex-basis: 100px;
    flex-grow: 1;
  }

  .main-footer .footer-logo {
    display: flex;
    align-items: center;
  }

  .main-footer .footer-logo .main-logo {
    display: block;
    width: 147px;
    height: 40px;
    background: url("../images/logo-red-tab.png") no-repeat center;
  }

  .main-footer .footer-socials {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-footer .footer-socials .social-btn {
    width: 45px;
    height: 45px;
    margin: 0 5px;
    border: 3px solid #e9ebec;
    border-radius: 50%;
    background-repeat: no-repeat;
    font-size: 0;
  }

  .main-footer .footer-socials .social-btn:hover {
    border-color: #000;
  }

  .main-footer .footer-socials .social-btn:active {
    border-color: #999;
    opacity: 0.3;
  }

  .main-footer .footer-socials .social-btn-tw {
    background-image: url("../images/socials-sprite.png");
    background-position: 14px 12px;
  }

  .main-footer .footer-socials .social-btn-fb {
    background-image: url("../images/socials-sprite.png");
    background-position: -49px 12px;
  }

  .main-footer .footer-socials .social-btn-yt {
    background-image: url("../images/socials-sprite.png");
    background-position: -112px 12px;
  }

  .main-footer .footer-copyright {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .main-footer .footer-copyright span {
    margin-right: 20px;
  }
}

@media (min-width: 1000px) {

  .main-footer {
    padding-top: 65px;
    padding-bottom: 65px;
  }

  .main-footer .footer-logo .main-logo {
    display: block;
    width: 147px;
    height: 40px;
    background: url("../images/logo-red-desktop.png") no-repeat center;
  }

  .main-footer .footer-copyright span {
    margin-right: 30px;
    font-size: 18px;
    line-height: 18px;
  }
}
